[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
# Icon=multi-coords
# Exec=/usr/bin/nl.cow-n-berg.harbour-multi-coords
Icon=harbour-multi-coords
Exec=sailfish-qml harbour-multi-coords
Name=GMFS

[X-HarbourBackup]
#BackupPathList=.local/share/harbour-multi-coords/
#BackupConfigList=/apps/harbour-multi-coords/
BackupPathList=.local/share/nl.cow-n-berg/harbour-multi-coords/
BackupConfigList=/apps/nl.cow-n-berg/harbour-multi-coords/

[X-Sailjail]
OrganizationName=nl.cow-n-berg
ApplicationName=harbour-multi-coords
Permissions=Internet;UserDirs;Location
